<h1>Bookings of <%=@property.name%></h1>

<div>
	
	 <table class="table">
	 	<thead>
  		 <tr>
  		  	<th>Starting Date</th>
  		  	<th>Ending Date</th>
  		  	<th>Price</th>
  		  	<th>Show</th>
  		 </tr>
  		</thead>
  		<tbody>
  		 <% @booking.each do |booking|%>
  		 <tr>
   		 	<td><%=booking.start%></td>
			<td><%=booking.end%></td>
			<td><%=booking.price%></td>

			<td><%= link_to 'Show',booking_path(booking.id)%></td>
			

  		 </tr>
  		 <%end%>
  		</tbody>
	 </table>
		
</div>