<div>
		<%= @property.name %>
		<%= @property.address %>
		<%= @property.latitude %>
		<%= @property.longitude %>

		<br>

		<%=link_to "Edit",edit_property_path(@property.id)%>
		<br>
		<%#=link_to "Delete",property_path(@property.id)%>
		<%= link_to "Delete",property_path(@property.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
		<br>
		<%= link_to 'Show Bookings',bookings_property_path(@property)%>
		<br>

	
		<%= link_to "Back to properties", properties_path %>

</div>